
.container{
    border: 1px solid wheat;
    width: 350px;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}
.title{
    border: 1px solid red;
    width: 50px;
    height: 20px;
    background: red;
    color: white;
    font-weight: bolder;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    opacity: 0.8;
}
.title1{
    position:absolute;
    border: 1px solid red;
    width: 50px;
    height: 20px;
    background: green;
    color: white;
    font-weight: bolder;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    left: 290x;
    right: 0px;
    top: 0px;
    bottom: 0px;
    opacity: 0.8;
}
.title2{
   position: absolute;
   width: 100%;
   height: 70%; 
   
   background-image: url(./bài\ 2.png);
   background-repeat: no-repeat;
   background-size:contain;
   background-position:center center;
}
.title3{
    position: absolute;
    font-size: 18px;
   
   text-align: center;
   width: 100%;
   top: 365px;
    
}
.title4{
    position: absolute;
    top: 410px;
    color: red;
    font-weight: bolder;
    text-decoration: line-through;
}
.title5{
    position: absolute;
    top: 430px;
    color: red;
    font-weight: bolder;
}

